<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="fragments/base :: base(~{::title},~{::h2},~{::section})">
<div th:replace="fragments/base :: head"></div>

<title>Book Details</title>

<body>
<div th:replace="fragments/header :: header"></div>
<h2></h2>
<section class="section-bookDetails container align-middle bg-light">
    <div class="card col-sm-9 forOne-card">
        <div class="card-body">
            <img class="bookCover float-start" th:src="@{${'/image/covers/' + book.bookId +'.png'}}" alt="bookImage"/>
            <h5 class="card-title" th:text="${book.title}">Card title</h5>
            <figure class="text-center">
                <figcaption class="blockquote-footer">
                    <p th:text="${book.authorDto.firstName + ' ' + book.authorDto.lastName}"> Author </p>
                </figcaption>
                <blockquote class="blockquote">
                    <p class="bookSummary lh-base" th:text="${book.summary}"> Summary </p>
                </blockquote>
            </figure>
        </div>
    </div>
</section>
</body>
</html>



