<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="fragments/base :: base(~{::title},~{::h2},~{::section})">
<div th:replace="fragments/base :: head"></div>


<title>Search Results</title>

<body>
<div th:replace="fragments/header :: header"></div>
<h2>Book Search Results</h2>

<section class="searchResult container align-middle bg-light">
    <table class="table">
        <tr>
            <th>Isbn</th>
            <th>Title</th>
            <th>Author</th>
            <th>Availability</th>
        </tr>
        <tr th:if="${#lists.size(books) == 0}">
            <td colspan="5">No result</td>
        </tr>
        <tr th:if="${#lists.size(books) != 0}" th:each="book: ${books}"> <!--pour chaque book de la list de books, on
            affichera les diverses infos ci-dessous -->
            <td>
                <p th:text="${book.isbn}">Isbn</p>

            </td>
            <td>
                <p th:text="${book.title}">Title</p>
                <a class="nav-link" th:href="@{/books/details/{id}(id=${book.bookId})}">Summary</a>
            </td>

            <td>
                <p th:text="${book.authorDto.lastName}">Author Lastname</p>
                <p th:text="${book.authorDto.firstName}">Author firstname</p>
            </td>
            <td>
                <table>
                    <tr th:each="library: ${book.libraries}">
                        <th>  <a class="nav-link" th:text="${library.name}" th:href="@{/libraries/{id}(id=${library.libraryId})}">Library Name</a></th>
                        <td th:text="${library.NbAvailableCopies + ' / ' + library.NbCopies}"> available / max </td>
                    </tr>
                </table>
            </td>

        </tr>
    </table>
</section>

</body>
</html>